// Force local fonts
$web-font-path: '';

@use "../node_modules/@fortawesome/fontawesome-free/scss/variables" with ($font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts");
@use "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@use "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@use "../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "lato";

.minimized-column {
  width: 0.1%;
  white-space: nowrap;
}

.minimized-amount {
  min-width: 150px;
  width: 0.1%;
  white-space: nowrap;
}